    <div class="box">
        {{#if beasts}}
        <div class="bestiario">
            <h3>Libro {{beasts.0.libroID}}: {{beasts.0.libro}}</h3>
            <hr>
            <h4>En el siguiente bestiario se enumerarán las criaturas que aparecen en el libro {{beasts.0.libroID}} de la saga <strong>The Witcher</strong></h4>

            <ul>
            {{#each beasts}}
            <div class="beasts">                
                <h3>{{this.nombre}}</h3>
                <a href="/bestia/{{this._id}}">
                <div class="img">
                    <img src="{{this.img}}" alt="{{this.nombre}}">
                </div>
                </a>
            </div>
            {{/each}}
            <div style="clear: both;"></div>
            </ul>
        </div>
        {{else}}
        <h2 style=" width:50%; padding: 30px; text-align: center; margin: 0 auto">Aún no hay bestias agregadas a este libro</h2>
        {{/if}}
        <div class="login">
            <a href="/">Volver</a>
        </div>
    </div>


